<div class="container">
  <h1>San Francisco Surf Spots</h1>

    <form class="form-inline" action="/spots/search" method="get">
        <input class="form-control" type="text" name="spotname" placeholder="Spot Name" /> <br>
        <input class="btn btn-info" type="submit" value="Search" />
      </form>

    <% @spots.each do |spot| %>
      <h3><a href= '/spots/<%= spot.id %>'> <%= spot.name %></a></h3>
    <% end %>
</div>
