<div class="container">
<h1>Welcome to <%= @spot.name %></h1>

<div class="favorites" style = "width: 240px;" ><%= @spot.script %></div>



<div class="comments">

<h3>Comments:</h3>

<div class="comment-list">
  <%= erb :_comment_list %>
</div>

<form class="form new-comment-form" action="/spots/<%= @spot.id %>" method="post">
    <input class="form-control new-comment-input" type="text" name="body" placeholder="Comment here on this break!" /> <br>
    <input class="btn btn-info new-comment-button" type="submit" value="Comment" />
  </form>

</div>


</div>


