<div class="container">
<h1>Welcome to <%= @spot.name %></h1>

<div class="favorites" style = "width: 240px;" ><%= @spot.script %></div>

<div class="comments">

<h3>Comments:</h3>
<%= erb :_comment_list %>

<form class="form" action="/spots/<%= @spot.id %>" method="post">
    <input class="form-control" type="text" name="body" placeholder="Comment here on this break!" /> <br>
    <input class="btn btn-info" type="submit" value="Comment" />
  </form>

</div>


</div>


