<div class="container">
<h1>Hello there, <%= current_user.first_name%>!</h1>
<h3>What would you like to do?</h3>
<ul>
  <li>
    <h3><a href = "/spots">Spot Check</a></h3>
  </li>
  <li>
    <h3><a href = "/users/<%=current_user.id%>/favorites">Look at Favorites</a></h3>
  </li>
</ul>


</div>
